
body{
    margin: 0;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;  
}

.intro{
    background-color: #24A19C;
    
}

.presentation {
    background-color: #FAEEE7;
}

.presentation img {
    width: 20%;
    border-radius: 50%;
    
}

.skills h2:hover {
    color: #24A19C;
}

hr{
    border: dotted #a5acac 6px;
    border-bottom: none;
    width: 4%; 
}